*{
    margin: 0;
    padding: 0;
    color: #000;
}

a{text-decoration: none;color: #000;}
a:hover{text-decoration: none; color: #aaa;}
ul,li{list-style: none;}
.main_480{display: none;}
#wrap{background-color: #f5f5f5;}
/* 애니메이션 */
@keyframes scene-1{
    0%{left: calc(100% * -0);}
    20%{left: calc(100% * -0);}
    25%{left: calc(100% * -1);}
    45%{left: calc(100% * -1);}
    50%{left: calc(100% * -2);}
    70%{left: calc(100% * -2);}
    75%{left: calc(100% * -1);}
    95%{left: calc(100% * -1);}
    100%{left: calc(100% * -0);}
}
@keyframes scene-2{
    0%{left: calc(100% * -1);}
    20%{left: calc(100% * -1);}
    25%{left: calc(100% * -2);}
    45%{left: calc(100% * -2);}
    50%{left: calc(100% * -1);}
    70%{left: calc(100% * -1);}
    75%{left: calc(100% * -0);}
    95%{left: calc(100% * -0);}
    100%{left: calc(100% * -1);}
}
@keyframes scene-3{
    0%{left: calc(100% * -2);}
    20%{left: calc(100% * -2);}
    25%{left: calc(100% * -1);}
    45%{left: calc(100% * -1);}
    50%{left: calc(100% * -0);}
    70%{left: calc(100% * -0);}
    75%{left: calc(100% * -1);}
    95%{left: calc(100% * -1);}
    100%{left: calc(100% * -2);}
}
@keyframes scene-4{
    0%{left: calc(100% * -1);}
    20%{left: calc(100% * -1);}
    25%{left: calc(100% * -0);}
    45%{left: calc(100% * -0);}
    50%{left: calc(100% * -1);}
    70%{left: calc(100% * -1);}
    75%{left: calc(100% * -2);}
    95%{left: calc(100% * -2);}
    100%{left: calc(100% * -1);}
}
@keyframes controller-1{
    0%{z-index: 2;}
    24.9%{z-index: 2;}
    25%{z-index: 0;}
    49.9%{z-index: 0;}
    50%{z-index: 0;}
    74.9%{z-index: 0;}
    75%{z-index: 0;}
    99.9%{z-index: 0;}
    100%{z-index: 2;}
}
@keyframes controller-2{
    0%{z-index: 0;}
    24.9%{z-index: 0;}
    25%{z-index: 2;}
    49.9%{z-index: 2;}
    50%{z-index: 0;}
    74.9%{z-index: 0;}
    75%{z-index: 0;}
    99.9%{z-index: 0;}
    100%{z-index: 0;}
}
@keyframes controller-3{
    0%{z-index: 0;}
    24.9%{z-index: 0;}
    25%{z-index: 0;}
    49.9%{z-index: 0;}
    50%{z-index: 2;}
    74.9%{z-index: 2;}
    75%{z-index: 0;}
    99.9%{z-index: 0;}
    100%{z-index: 0;}
}
@keyframes controller-4{
    0%{z-index: 0;}
    24.9%{z-index: 0;}
    25%{z-index: 0;}
    49.9%{z-index: 0;}
    50%{z-index: 0;}
    74.9%{z-index: 0;}
    75%{z-index: 2;}
    99.9%{z-index: 2;}
    100%{z-index: 2;}
}
/* 가로사이즈 480px*/
@media screen and (max-width:480px){.main_480{display: block;}}
header{
    width: 100%;
    position: relative;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
}
#menu_open{
    z-index: 10000;
    position: absolute;
    top: 25px;
    left: 30px;
    font-size: 45px;
    cursor: pointer;
}

#user_box{
    width: 100%;
    height: 50px;
    background-color: #555;
}

#user_box > button{
    width: 115px;
    float: right;
    height: 50px;
    background-color: #333;
    border: none;
}
#user_box > button:hover{background-color: #111;}
#user_box > button > a{color: #fff;}
#user_box > button > .main_480 > i{transition: 0.3s all;}
#user_box > button > .main_480:hover i{color: #555;}
#logo{
    position: absolute;
    top: 70px;
    left: 40px;
    width: 140px;
}
nav{margin: 35px 35px 35px 350px;}
nav > ul > li{
    display: inline;
    margin: 0 40px;
}
nav > ul > li > a{
    font-size: 25px;
    font-weight: 400;
    padding: 3px 10px;
    transition: 0.3s all;
}
nav > ul > li > a:hover{border-bottom: 10px solid #ffe372;background-color: #fff;}
@media screen and (max-width:480px){
    header{position: fixed;z-index: 1000;height: 100px; top: 0;}
    #logo{top: 20px;left: calc(240px - 70px);}
    #user_box > button:hover{background-color: #fff;}
    #user_box{
        width: 120px;
        float: right;
        margin: 30px 15px;
        background-color: #fff;
    }
    #user_box > button > a > i{font-size: 30px;}
    #user_box > button > .main_not480{display: none;}
    #user_box > button{background-color: #fff;width: 60px;}
    nav{
        margin: 0;
        width: 100%;
        position: absolute;
        background-color: #eee;
        top: 99px;
        left: 0px;
        transition: 0.3s all;
        overflow: hidden;
        height: 0px;
        border-bottom: 1px solid #ddd;
    }
    nav > ul{display: grid;grid-template-rows: repeat(5,1fr);}
    nav > ul > li{margin: 0;overflow: hidden;padding: 20px;}
    nav > ul > li > a:hover{border: none; margin: 20px;background-color: rgba(0, 0, 0, 0);}
    #menu_open:hover ~ nav{height: 380px;}
}
/* 비쥬얼 */
#visual{
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}
.slide{
    position: absolute;
    width: 300%;
    display: flex;
    justify-content: space-between;
}
.slide_img{width: 100vw;}

.slide_left{left: 0;}
.slide_right{right: 0;}
.slide_controller{
    position: absolute;
    top: calc(600px /2);
    cursor: pointer;
    z-index: 200;
}
.slide_controller > i{
    padding: 20px;    
    color: #fff;
    font-size: 50px;
    transition: 0.3s all;
}
.slide_controller > i:hover{
    color: #ddd;
    padding: 20px 15px;
}
#slide_back{
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
}

#slide_word{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    max-width: 1200px;
    margin: 5% auto;
    width: 60%;
    height: 60%;
    padding: 0 10%;
    text-align: center;
}

#slide_word > p{
    color: #ddd;
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    text-align: left;
    margin-top: 17%;
}

#slide_word > h2{
    color: #fff;
    font-size: 80px;
}

@media screen and (max-width:480px){
    #visual{height: 300px;margin-top: 100px;}
    .slide_controller{top: calc(300px/2);}
    .slide_controller > i{font-size: 40px;}
    #slide_word{margin: 30px auto; }
    #slide_word > p{font-size: 15px;margin-top: 30%;}
    #slide_word > h2{font-size: 30px;}
}
/* 애니메이션 연결 */
.slide{
    animation-name: scene-1;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: calc(-8.0s + 0.4s);
}
.slide_controller{
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: calc(-8.0s + 0.4s);
    transform: translate(0,-50%);
}

#slide-1:checked ~ .slide {animation-name:scene-1;}
#slide-2:checked ~ .slide {animation-name:scene-2;}
#slide-3:checked ~ .slide {animation-name:scene-3;}
#slide-4:checked ~ .slide {animation-name:scene-4;}


#slide-1:checked ~ .slide_controller[data-idx="1"]{animation-name: controller-1;}
#slide-1:checked ~ .slide_controller[data-idx="2"]{animation-name: controller-2;}
#slide-1:checked ~ .slide_controller[data-idx="3"]{animation-name: controller-3;}
#slide-1:checked ~ .slide_controller[data-idx="4"]{animation-name: controller-4;}

#slide-2:checked ~ .slide_controller[data-idx="1"]{animation-name: controller-4;}
#slide-2:checked ~ .slide_controller[data-idx="2"]{animation-name: controller-1;}
#slide-2:checked ~ .slide_controller[data-idx="3"]{animation-name: controller-2;}
#slide-2:checked ~ .slide_controller[data-idx="4"]{animation-name: controller-3;}

#slide-3:checked ~ .slide_controller[data-idx="1"]{animation-name: controller-3;}
#slide-3:checked ~ .slide_controller[data-idx="2"]{animation-name: controller-4;}
#slide-3:checked ~ .slide_controller[data-idx="3"]{animation-name: controller-1;}
#slide-3:checked ~ .slide_controller[data-idx="4"]{animation-name: controller-2;}

#slide-4:checked ~ .slide_controller[data-idx="1"]{animation-name: controller-2;}
#slide-4:checked ~ .slide_controller[data-idx="2"]{animation-name: controller-3;}
#slide-4:checked ~ .slide_controller[data-idx="3"]{animation-name: controller-4;}
#slide-4:checked ~ .slide_controller[data-idx="4"]{animation-name: controller-1;}

/* 콘텐츠 */
.content_box{padding: 50px;padding-bottom: 0;}
.content_box > h2{
    padding: 20px;
    font-size: 40px;
}
.content_word{
    padding: 30px 0;
    border-top: 2px solid #333;
    margin: 0 auto;
    max-width: 1600px;
}

.more_btn{
    width: 180px;
    height: 60px;
    border: 2px solid #FFC845;
    border-radius: 2px;
    margin: 50px 0;
    margin-left: 85%;
    color: #FFB200;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s all;
}

.more_btn:hover{
    background-color: #FFC845;
    color: #fff;
}
@media screen and (max-width:480px){
    .content_box{padding: 30px 0;}
    .content_word{padding: 30px;}
}
#online_housing > h2{color: #333;}
#online_housing > .content_word{
    height: 350px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.online_box{
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    box-shadow: 5px 5px 3px #ccc;
}
.online_picture{width: 100%;}
.online_picture > img{
    width: 100%;
    min-height: 300px;
}
.online_after{
    position: absolute;
    right: -100%;
    transition: 0.3s all;
}
.online_picture:hover .online_after{right: 0;}
.online_review {
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 80%;
    height: 60px;
    background-color: #fff;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: 0.3s all;
    display: grid;
    opacity: 0.8;
    grid-template-columns: 1fr auto;
}
.online_review:hover{opacity: 1;}
.online_review_user{
    font-size: 25px;
    font-weight: bold;
    margin: 10px;
    margin-bottom: 15px;
}
.online_review_score{margin: 10px;margin-top: 15px;}
.online_review_score > i{
    color: #ffd800;
    font-size: 25px;
}
@media screen and (max-width:480px){
    #online_housing > .content_word{
        height: 900px;
        display: grid;
        grid-template-columns: none;
        grid-template-rows: repeat(3,1fr);
    }
    .online_box{margin-bottom: 30px;width: 90%;}
    .online_review{height: 80px;}
    .online_review_score{position: absolute;top: 10px;right: 20px;}
    .online_review_score > i{font-size: 20px;}
}
#specialist{background-color: #777;padding-bottom: 50px;}
#specialist > h2{color: #fff;}
#specialist > .content_word{
    border-top: 2px solid #fff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.specialist_box{
    width: 300px;
    height: 370px;
    overflow: hidden;
    border-radius: 5px;
    transition: 0.5s all;
    perspective: 1000px;
    position: relative;
    margin: 0 auto;
}
.specialist_box:hover > img{transform: rotateY(180deg);}
.specialist_box:hover > .specialist_box_back{transform: rotateY(0deg);}
.specialist_box > img{
    width: 100%;
    object-fit: cover;
    z-index: 2;
    transition: 0.5s all;
}
.specialist_number{
    position: absolute;
    top: 5px;
    right: 15px;
    opacity: 0.5;
    font-size: 50px;
}
.specialist_box > *{
    backface-visibility: hidden;
    position: absolute;
    left: 0;
    top:0;
}
.specialist_box_back{
    width: 100%;
    height: 100%;
    background-color: #222;
    transform: rotateY(-180deg);
    transition: 0.5s all;
    display: grid;
    grid-template-rows: 1fr 3fr;
    position: relative;
}

.specialist_box_title{
    background-color: #fff;
    font-size: 40px;
    font-weight: 500;
    padding: 20px;
    padding-top: 40px;
}
.specialist_box_id{
    color: #fff;
    padding: 20px 40px;
    font-size: 25px;
}

.specialist_more{
    background-color: rgba(0, 0, 0, 0);
    border: none;
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
}
.specialist_more > i{color: #fff;}
@media screen and (max-width:480px){
    #specialist > .content_word{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        padding: 10px;
        margin: 0;
    }
    .specialist_box{
        width: 200px;
        height: 250px;
        margin: 10px;
    }
    .specialist_box_title{
        font-size: 30px;
        padding: 10px;
        padding-top: 30px;
    }
    .specialist_box_id{
        padding: 20px;
        font-size: 20px;
    }
    .specialist_more{
        font-size: 30px;
        bottom: 20px;
        right: 20px;
    }
}
#review > .content_word{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.review_card{
    width: 90%;
    background-color: #fff;
    border-radius: 5px;
    margin: auto;
    border: 1px solid #ddd;
}
.review_text{
    position: relative;
    padding: 20px;
    margin: 20px;
    line-height: 40px;
}
.user_name,.specialist_name,.coast{font-size: 20px;}
.review_text > .score{
    position: absolute;
    top: -20px;
    right: -20px;
    font-weight: 500;
    padding: 20px;
    border-bottom-left-radius:5px;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.review_text > .score > i{
    color: #ffd800;
    font-size: 30px;
}
.review_word{
    font-size: 20px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ddd;
    font-weight: 600;
}
@media screen and (max-width:480px){
    #review > .content_word{
        padding:30px 10px;
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: none;
    }
    .review_card{width: 100%;margin: 10px 0;}
    .review_text{margin-top: 70px;border-top: 1px solid #ddd;}
    .review_text > .score{top: -20%;left: 25%;border: none;}
    .review_word{font-size: 15px;font-weight: 500;}
}
footer{
    width: 100%;
    height: 50px;
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 20px;
    padding: 10px 0;
}
@media screen and (max-width:480px){
    footer{
        height: 40px;
        font-size: 15px;
    }
}

#store > .content_word{border-bottom: none;}

#search{
    width: 90%;
    max-width: 1000px;
    margin: 0px auto;
    border-radius: 50px;
    border: 1px solid #ddd;
    background-color: #fff;
    height: 80px;
    overflow: hidden;
    position: relative;
}

#search_form{
    width: calc(100% - 100px);
    border: none;
    padding-left: 50px;
    height: 72px;
    font-size: 20px;
    outline: none;
}

#search_btn{
    position: absolute;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    right: -1px;
    top: -1px;
    background-color: #b6b6b6;
    outline: none;
}

#search_btn > i{
    color: #fff;
    font-size: 25px;
}

#drop_box{
    position: sticky;
    width: 300px;
    height: 200px;
    top: 20px;
    left: 100vw;
    border-radius: 5px;
    background-color: #FFF3DA;
    z-index: 1000000000;
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.3s all;
    cursor: pointer;
}

#drop_box:hover{opacity: 1;}

#drop_title{
    width: 100%;
    height: 50px;
    background-color: #fcc44d;
    margin:0;
    padding: 5px;
    padding-left: 20px;
}

#drop_title > i{color: #fff;}

#item_drop{
    height: 150px;
    font-size: 20px;
    text-align: center;
    line-height: 150px;
    font-weight: 60;
}

#itemList{
    background-color: #fafafa;
    padding-bottom: 100px;
    position: relative;
}
#itemList > .content_word{padding: 0 50px; border-top: none;}

#item_list{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    margin-top: -250px;
    padding: 75px 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.item{
    width: 90%;
    height: 350px;
    margin: 20px auto;
    border: 1px solid #ddd;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}
.item_info{
    border-top: 1px solid #ddd;
    background-color: #fff;
    height: 150px;
}
.item_img{
    width: 100%;
    height: 200px;
    overflow: hidden;
    cursor: pointer;
}
.item_img > img{width: 100%;}
.item_name{font-size: 25px;padding: 15px 0 0 15px;font-weight: 500; margin: 0;}
.item_brand{font-size: 18px;padding-left: 15px;color: #333;margin: 0;}
.item_price{font-size: 18px;text-align: right; padding-right:20px; font-weight: 600;margin-top: 30px;}

#item_box{
    padding-bottom: 100px;
    background-color: #fff;
}

#item_box > .content_word{padding-bottom: 20px;}

#item_box_list{
    max-width: 1600px;
    width:100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(5,1fr);
}

#item_allprice_box{
    max-width: 1600px;
    width: 100%;
    height: 80px;
    background-color: #555;
    border-radius: 5px;
    margin-top: 25px;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    padding-left: 50px;
    line-height: 80px;
}
#item_allprice{color: #fff;}
#item_allprice_btn{
    font-size: 20px;
    width: 120px;
    height: 50px;
    float: right;
    margin: 15px;
    font-weight: 600;
}
.item_number_box{
    float: right;
    padding: 10px;
    color: #333;
}

.item_number{
    width: 60px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.item_box_del{
    position: absolute;
    width: 50px;
    height: 50px;
    border: none;
    border-bottom-left-radius: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    right: 0px;
    transition: 0.3s all;
}
.item_box_del:hover{background-color: #555;}
.item_box_del > i{
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
}
#recepit_open{display: none;}
#search_notfound{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    width: 500px;
    bottom: 25%;
    left: calc(50% - 250px);
    position: absolute;
}
mark{background-color: #FFE92D;}