/* 기본설정 */
*{
    margin: 0;
    padding: 0;
    color: #000;
    font-family: "나눔스퀘어라운드";
}

a{text-decoration: none;color: #000;}
a:hover{text-decoration: none;color: #000;}
ul,li{list-style: none;}
#wrap{position: relative;background-color:#D5F5E3;}
.star{font-size: 20px; color: #eee;}
.star.blink{color:#fb2;}
.main_480{display: none;}
@media screen and (max-width:480px){
    .main_480{display: block;}
    .main_not480{display: none;}
}
/* 헤더 */
header{
    width: 100vw;
    height: 150px;
    background-color: #fff;
    border-bottom: 1px solid #FFFCFB;
    overflow: hidden;
    background-color: #FFFCFB;
}

#user_area{
    width: 100%;
    height: 50px;
    background-color: #A99485;
}

.main_user,#user_area > a{
    background-color: #D8B9A4;
    min-width: 120px;
    height: 100%;
    float: right;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    transition: 0.3s all;
    padding:0 10px;
    margin: 0;
}

.main_user,#user_area > a:nth-child(3){background-color: #CAAC97;}

#user_area > a:hover{background-color: #333;color: #fff;}
#user_area > a > i{font-size: 25px;transition: 0.3s all;}
#logo{
    width: 150px;
    margin: 20px;
    display: inline-block;
}

#logo > img{width: 100%;margin-top: -20px;}
@media screen and (max-width:480px){
    header{
        overflow: visible;
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000000000;
    }

    #logo{margin-left:50px;margin-bottom: 10px;}

    #menu_bar{
        display: inline-block;
        width: 50px;
        height: 50%;
        margin: 5%;
        cursor: pointer;
    }
    
    #menu_bar > i{font-size: 50px;transition: 0.3s all;}
    
    #menu_bar:hover > i{color: #555;}
    #menu_bar:hover ~ nav{height: 350px;}
    
    #user_area{
        width: 130px;
        margin: 10px;
        float: right;
        padding: 10px 0;
        background-color: #FFFCFB;
    }
    
    .main_user,#user_area > a{
        background-color: rgba(0, 0, 0, 0);
        min-width: 65px;
    }
    .main_user,#user_area > a:hover{background-color: rgba(0, 0, 0, 0);}
    .main_user,#user_area > a:hover > i{color: #888;}
}

/* 네비게이션 */
nav{
    width: 60vw;
    max-width: 1200px;
    display: inline-block;
    margin-left: 10vw;
    margin-top: 30px;
    transition: 0.3s all;
}

nav > ul{
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 0;
}

nav > ul > li{
    text-align: center;
    font-size: 25px;
}

nav > ul > li:first-child{font-size: 27px;}
nav > ul > li > a{line-height: 50px;transition: 0.3s all;}
nav > ul > li > a:hover{color:#4E2B0E;}

@media screen and (max-width:480px){
    nav{
        width: 100vw;
        height: 0px;
        background-color: #eee;
        transition: 0.3s all;
        margin: 0;
        overflow: hidden;
    }

    nav > ul{
        display: grid;
        height: 100%;
        grid-template-rows: repeat(5,1fr);
    }

    nav > ul > li{
        padding: 10px;
        padding-left: 40px;
        text-align: left;
    }
}

/* 비쥬얼 */
#visual{
    position: relative;
    width: 100vw;
    height: 600px;
    overflow: hidden;
}

#visual_back{
    position: absolute;
    padding: 5% 2%;
    top: 0;
    left: 0;
    width: 30%;
    height: 100%;
    z-index: 1000;
    overflow: hidden;
    background-color: #5B9;
}

#visual_back > *{color: #fff;margin: 0;}

#visual_back > p{
    width: 112%;
    font-size: 20px;
    padding: 10px;
    border-left: 20px solid #487;
    font-weight: 500;
    margin-top: 40px;
    background-color: #598;
}

#visual_back > h2{font-size: 70px;}
#visual_back > h6{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    color: #376;
    letter-spacing: 13px;
    border-radius: 5px;
    background-color: #4A8;
}

.slide_col{
    transform: rotate(90deg);
    z-index: 1000;
    position: absolute;
    right: -17%;
    top: 290px;
    padding: 10px;
    font-size: 15px;
    width: 600px;
    color: #fff;
    letter-spacing: 8px;
}

.slide_btn{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10001;
    cursor: pointer;
    background-color: #786659;
    transition: 0.3s all;
    margin: 0;
}

.slide_left{right: 40px;background-color: #8A7566;}

.slide_btn > i{
    color: #fff;
    font-size: 25px;
    margin: 10px 15px;
}

.slide_btn:hover{background-color: #5A4C41;}

#slide{
    width: 300%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

#slide > img{width: 100vw;}

@media screen and (max-width:480px){
    #visual{height: 300px;margin-top: 100px;}
    #visual_back { width: 50%;}
    #visual_back > p{font-size: 15px;}
    #visual_back > h2{font-size: 35px;}
    #visual_back > h6{font-size: 16px;letter-spacing: 7px;}
    .slide_col{right: -60%;}
}

/* 슬라이드 애니메이션 */
@keyframes slide{
    0%{left:calc(100% * -0);}
    20%{left:calc(100% * -0);}
    25%{left:calc(100% * -1);}
    45%{left:calc(100% * -1);}
    50%{left:calc(100% * -2);}
    70%{left:calc(100% * -2);}
    75%{left:calc(100% * -1);}
    95%{left:calc(100% * -1);}
    100%{left:calc(100% * -0);}
}

#slide{
    animation-name: slide;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-delay: calc(-8.0s + 0.4s);
}

/* 콘텐츠 */
.content_wrap{padding-top: 50px;}
.content_title{
    width: 100%;
    max-width: 1500px;
    margin: 40px auto;
    border-bottom: 2px solid #DEA975;
    position: relative;
}
.content_title_line{
    border-bottom: 2px solid #C56D35;
    position: absolute;
    bottom: -2px;
    z-index: 100;
    width: 50px;
}
.content_title > h2{
    padding:20px;
    color: #44342A;
    background-color: #D5F5E3;
    display: inline-block;
    position: absolute;
    bottom: -50px;
    left: 50px;
    font-size: 40px;
}

.content_wrap:last-child,.content_wrap:last-child > .content_title > h2{
    background-color: #AECFBD;
}

.content_wrap:nth-child(2),.content_wrap:nth-child(2) > .content_title > h2{
    background-color: #63968A;
    color:#fff;
}

.more_btn{
    width: 200px;
    height: 50px;
    border: 2px solid #8F613A;
    color: #8F613A;
    transition: 0.3s all;
    font-size: 20px;
    font-weight: bold;
    margin: 20px calc(50vw - 100px);
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0);
}

.content_box{padding:0 50px 50px 50px; max-width: 1600px; margin: 0 auto;}

.more_btn:hover{background-color: #8F613A;color:#D5F5E3;}

@media screen and (max-width:480px){
    .content_wrap{padding: 0;}
    .content_title{padding-top: 50px; margin:0px; margin-bottom: 10px;}
    .content_box{padding: 20px; margin: 0 30px;}
    .more_btn{margin-left: calc((100vw - 200px)/2);}
    .content_title_line{width: 50%;}
    .content_title > h2{
        z-index: 1000;
        width: 50%;
        left: 25%;
        text-align: center;
    }
    .content_wrap:first-child > .content_title > h2{
        width: 80%;
        left: 10%;
    }
}

/* main_online */
#main_online{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.main_online_card{
    width: 90%;
    margin: 10px auto;
    position: relative;
}

.main_online_img_box{
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 250px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.main_online_img_box > img{width: 100%; min-height: 250px;}
.main_online_img_box > img:last-child{position: absolute; right: -100%; z-index: 1000;transition: 0.5s all;}
.main_online_img_box:hover > img:last-child{right: 0;}

.main_online_info{
    height: 60px;
    width: 100%;
    margin: 5px auto;
    background-color: #C19476;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    color: #fff;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    overflow: hidden;
}

.main_online_info > .score{display: inline-block; padding: 15px;}
.main_online_info > span{padding: 20px;line-height: 20px;background-color: #C47F51;}
.main_online_info *{color: #fff;}

@media screen and (max-width:480px){
    #main_online{
        grid-template-columns: none;
        grid-template-rows: repeat(4,1fr);
    }
}

/* main_specialist */
#main_specialist{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    padding: 50px 20px;
    padding-top: 20px;
}

.main_specialist_card{
    position: relative;
    width: 80%;
    height: 370px;
    perspective: 1000px;
    cursor: pointer;
    transition: 0.3s all;
    margin: 0 auto;
}

.main_specialist_card >  *{
    backface-visibility: hidden;
    transition: 0.3s all;
    position: absolute;
    top: 0;
    left: 0;
}

.main_specialist_card > .img_box{
    border-radius: 5px;
    width: 100%;
    height: 100%;
    transform: rotateY(0deg);
    object-fit: cover;
    z-index: 2;
    overflow: hidden;
}

.main_specialist_card > .img_box > img{width: 100%;}
.main_specialist_back{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transform: rotateY(-180deg);
    background-color: #fff;
    border-top: 5px solid #D38B47;
}
.main_specialist_card:hover{margin-top: -15px;}
.main_specialist_card:hover > .img_box{transform: rotateY(180deg);}
.main_specialist_card:hover > .main_specialist_back{transform: rotateY(0deg);}

.main_specialist_back > h2{
    margin-top: 15%;
    padding: 20px 50px 10px 10px;
    margin-left: 50px;
    font-size: 30px;
    display: inline-block;
    border-bottom: 2px solid #000;
}

.main_specialist_back > p{
    margin-left: 37%;
    font-size: 18px;
}

.specialist_more{
    width: 50%;
    margin: 20px 25%;
    margin-top: 25%;
    height: 50px;
    font-weight: bold;
    border: 2px solid #cc9d6e;
    color: #cc9d6e;
    background-color: rgba(0, 0, 0, 0);
    transition: 0.3s all;
    border-radius: 5px;
}

.specialist_more:hover{background-color: #cc9d6e; color: #fff;}

.main_specialist_back > span{
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: -15px;
    right: -15px;
    text-align: center;
    line-height: 50px;
    background-color: #D38B47;
    color: #fff;
}

.main_specialist_back > span > span{
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: -25px;
    left: -25px;
    background-color: #D39C68;
}

.main_specialist_back > div{
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 80%;
    height: 20px;
    background-color: #CF9357;
}

.main_specialist_back > div > div{
    width: 20px;
    height: 20px;
    background-color: #B2793F;
}

@media screen and (max-width:480px){
    #main_specialist{
        grid-template-columns: none;
        grid-template-rows: repeat(4,1fr);
    }

    .main_specialist_card{
        width: 90%;
        margin: 30px auto;
        height: 400px;
    }

    .main_specialist_card:hover{margin-top: 0;}
}

/* review */
#main_review{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.main_review_card{
    width: 90%;
    margin: 10px auto;
    background-color: #fff;
    border-left: 5px solid #C56D35;
    padding: 20px;
}

.main_review_info > *{
    font-size: 20px;
    display: inline-block;
    margin: 10px;
}

.main_review_price{
    float: right;
    color: #555;
    font-weight: 500;
}

.main_review_text{padding: 10px; font-size: 20px;}

.main_review_user{font-weight: 500;}
@media screen and (max-width:480px){
    #main_review{
        grid-template-rows: repeat(2,1fr);
        grid-template-columns: auto;
    }

    .main_review_price{float: none;}

    .main_review_card{width: 100%;}
}

/* 푸터 */
footer{
    width: 100vw;
    text-align: center;
    color: #fff;
    height: 50px;
    background-color: #604D40;
    line-height: 50px;
}